body {
    background-image: url("test.jpg");
}

.geeko {
    float:right;
    margin-left: 50%;
    margin-top: 1px;
	width: 100px;

}
.titre{
	width: 100%;
	background-color:wheat;
    color: blue;
	height:80px;
	text-align:right;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
}
    

.imag{
    float:center;
    margin-left: 35%;
	width: 100px;
}

.objet{
	text-align:center;	
}

   
.objectif{
	text-align: center;
    text-transform: capitalize;
}


.header_content {
	width: 18%;
    background-color:whitesmoke;
	text-align:center;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
    display: inline-block;
}


.rejoindre {
    width: 20%;
    margin-left: 38%;
    text-align: center;
    text-transform: capitalize;
    background-color: oldlace;
    border: 1px solid #ccc;
    display: inline-block;
    
}

.suite{
    float: left;
    margin-left: 18%;
    margin-top: 16px;
    vertical-align:top;
}

.suite2{
    float: left;
    margin-left: 20%;
    margin-top: 20px;
    vertical-align:top;
}

.suite3{
    float: left;
    margin-left: 22%;
    margin-top: 24px;
    vertical-align:top;
}