body {
    background-image: url("test3.jpg");
}

.titre {
	width: 100%;
	height:80px;
	text-align:center;
	background-color:antiquewhite;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
}