body {
    background-image: url("test3.jpg");
}

.titre {
	width: 100%;
	height:90px;
	text-align:center;
	background-color:antiquewhite;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
}

.sabrina { 
    float: center;
    margin-left: 40%;
    margin-top: 8px;
    vertical-align:top;

}


.jean { 
    float: left;
    margin-left: 18%;
    margin-top: 8px;
    vertical-align:top;
}



.alex { 
    float: right;
    margin-right: 13%;
    margin-top: 8px;
    vertical-align:top;
}


.bastien { 
    float: left;
    margin-left: 18%;
    margin-top: 16px;
    vertical-align:top;
}

.christopher{
    float: right;
    margin-right: 13%;
    margin-top: 16px;
    vertical-align:top;
    
}

.ludo {
   float: left;
    margin-left: 18%;
    margin-top: 20px;
    vertical-align:top;
    
}

.anais{
    float: right;
    margin-right: 13%;
    margin-top: 20px;
    vertical-align:top;
}

.autre {
    text-align: center;
    display: inline-block;
}