body {
    background-image: url("test.jpg");
}


.titre {
	width: 100%;
	height:80px;
	text-align:center;
	background-color:antiquewhite;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
}

.ima1 {
    float: left;
    margin-left: 13%;
    margin-top: 3px;
    vertical-align:top;
}
    

.ima2 {
    float: right;
    margin-right: 13%;
    margin-top: 3px;
    vertical-align:top;
}
    
    
.ima3 {
    float: center;
    margin-left: 40%;
    margin-top: 3px;
    vertical-align:top;
}

.contexte{
    text-align:center;    
}



.concepte{
	text-align:center;
}

.info {
    width: 20%;
	background-color:aqua;
	border: 1px solid #ccc;
    border-style: double;
    border-width: thick;
    text-align: center;
    float : right;
    display: inline-block;
}

